{{ template "chart.header" . }}
{{ template "chart.description" . }}

### Architecture of Search Chart

For full architeture overview please refer to our documentation [here](https://dug.readthedocs.io/en/latest/architecture/roger/).

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}


{{ template "chart.valuesSection" . }}